*, *::after, *::before { box-sizing: border-box;}

body {
    font-family: Helvetica, sans-serif;
    background-color: beige;
}

header {
    background-color: lightpink;
    display: flex;
    justify-content: space-between;
    align-items: center;
}